@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-roboto: var(--font-roboto);

  --color-primary-1-50: #ecf7fa;
  --color-primary-1-100: #c3e7ee;
  --color-primary-1-200: #a6dbe6;
  --color-primary-1-300: #7ecada;
  --color-primary-1-400: #65c0d3;
  --color-primary-1-500: #3eb0c8;
  --color-primary-1-600: #38a0b6;
  --color-primary-1-700: #2c7d8e;
  --color-primary-1-800: #22616e;
  --color-primary-1-900: #1a4a54;

  --color-primary-2-50: #e7f1f4;
  --color-primary-2-100: #b4d8dd;
  --color-primary-2-200: #8fbdcd;
  --color-primary-2-300: #5c9bb6;
  --color-primary-2-400: #3d8da8;
  --color-primary-2-500: #0c7092;
  --color-primary-2-600: #0b6685;
  --color-primary-2-700: #095068;
  --color-primary-2-800: #073e50;
  --color-primary-2-900: #052f3d;

  --color-primary-3-50: #e8e9e8;
  --color-primary-3-100: #b9b9b8;
  --color-primary-3-200: #979896;
  --color-primary-3-300: #686866;
  --color-primary-3-400: #4a4b49;
  --color-primary-3-500: #1d1e1b;
  --color-primary-3-600: #1a1b19;
  --color-primary-3-700: #151513;
  --color-primary-3-800: #10110f;
  --color-primary-3-900: #0c0d0b;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-roboto), Arial, Helvetica, sans-serif;
}

.bg-rotating-gradient {
  background-image: linear-gradient(
    calc(var(--bg-angle, 120) * 1deg),
    var(--color-primary-3-900) 0%,
    var(--color-primary-3-900) 50%,
    var(--color-primary-2-500) 100%
  );

  /* evita cortes al rotar */
  background-size: 140% 140%;
  background-position: center;
}
